<!DOCTYPE html>
<html lang="en">
<body>
        <div>
            <form>
              <input type="text" id="edit_openaikey" placeholder="请在此输入秘钥,没有秘钥则每天限额10次" style="width: 50vw;">
            </form>
          </div>
        {% if message %} {{ message }} {% endif %}
            {% if question %}
            <div class="loading" id="loading" style="display: none;">正在梳理答案，请稍等...</div>
            <div class="question">
                <b> 🙋‍♂️ :</b> {{ question }}
            </div>
            <div class="res">
                <b> 👨‍💻 :</b> {{ res }}
            </div>
            {% endif %}
            <div class="chat-box">
                <form method="post" id="chat-form" onsubmit="submitForm()">
                    <input type="submit" value="提交" id="submit"style="width:60%; color: white; background-color: #3079c3; text-align:center; margin-top: 10px; padding: 10px 0;" />
                </form>
        </div>
    </div>
</body>
<script>
    function submitForm() {
        let openaikey = document.getElementById('edit_openaikey').value;
        let loading = document.getElementById('loading');
        let form = document.querySelector('form');
        let formData = new FormData(form);
        loading.style.display = 'block';
        if (openaikey) {
            formData.append('openaikey', openaikey);
        }
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/');
        xhr.send(formData);
    }
</script>
</html>